SERVER_PORT=8081

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/userdb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=CHANGE_ME

SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379
SPRING_REDIS_PASSWORD=CHANGE_ME

SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092

KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/myapp-realm
KEYCLOAK_JWK_SET_URI=http://localhost:8080/realms/myapp-realm/protocol/openid-connect/certs
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=myapp-realm
KEYCLOAK_CLIENT_ID=user-service
KEYCLOAK_CLIENT_SECRET=CHANGE_ME